<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarServlet</servlet-name>
        <servlet-class>Controller.CadastrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TesteServlet</servlet-name>
        <servlet-class>Controller.TesteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoServlet</servlet-name>
        <servlet-class>Controller.CarrinhoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmServlet</servlet-name>
        <servlet-class>Controller.AdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContatoServlet</servlet-name>
        <servlet-class>Controller.ContatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>Controller.InfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCadastroServlet</servlet-name>
        <servlet-class>Controller.AlterarCadastroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProduto</servlet-name>
        <servlet-class>Controller.CadastrarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarProduto</servlet-name>
        <servlet-class>Controller.EditarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarProduto</servlet-name>
        <servlet-class>Controller.DeletarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Erros</servlet-name>
        <servlet-class>Controller.Erros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarUsuarios</servlet-name>
        <servlet-class>Controller.GerenciarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Controller.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarUsuario</servlet-name>
        <servlet-class>Controller.DeletarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContaUsuario</servlet-name>
        <servlet-class>Controller.ContaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCompra</servlet-name>
        <servlet-class>Controller.FinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarrinhoLogado</servlet-name>
        <servlet-class>Controller.CarrinhoLogado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirCompras</servlet-name>
        <servlet-class>Controller.ExibirCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprasUsuario</servlet-name>
        <servlet-class>Controller.ComprasUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncrementarQuantidade</servlet-name>
        <servlet-class>Controller.IncrementarQuantidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecrementarQuantidade</servlet-name>
        <servlet-class>Controller.DecrementarQuantidade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenciarProdutos</servlet-name>
        <servlet-class>Controller.GerenciarProdutos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarProduto</servlet-name>
        <url-pattern>/CadastrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarServlet</servlet-name>
        <url-pattern>/Cadastrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TesteServlet</servlet-name>
        <url-pattern>/Teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoServlet</servlet-name>
        <url-pattern>/CarrinhoPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmServlet</servlet-name>
        <url-pattern>/AdmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContatoServlet</servlet-name>
        <url-pattern>/Contato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCadastroServlet</servlet-name>
        <url-pattern>/AlterarCadastro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Mensagem</servlet-name>
        <jsp-file>/WEB-INF/logadomensagem.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mensagem</servlet-name>
        <url-pattern>/Mensagem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Indexlogado</servlet-name>
        <jsp-file>/WEB-INF/logado.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Indexlogado</servlet-name>
        <url-pattern>/Indexlogado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Carrinhologado</servlet-name>
        <jsp-file>/WEB-INF/logadocarrinho.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Carrinhologado</servlet-name>
        <url-pattern>/Carrinhologado</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastroProduto</servlet-name>
        <jsp-file>/WEB-INF/cadastrarproduto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroProduto</servlet-name>
        <url-pattern>/CadastroProduto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProduto</servlet-name>
        <jsp-file>/WEB-INF/editarproduto.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProduto</servlet-name>
        <url-pattern>/EditProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarProduto</servlet-name>
        <url-pattern>/EditarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarProduto</servlet-name>
        <url-pattern>/DeletarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Erros</servlet-name>
        <url-pattern>/Erros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarUsuarios</servlet-name>
        <url-pattern>/GerenciarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarUsuario</servlet-name>
        <url-pattern>/DeletarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContaUsuario</servlet-name>
        <url-pattern>/ContaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCompra</servlet-name>
        <url-pattern>/FinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarrinhoLogado</servlet-name>
        <url-pattern>/CarrinhoLogado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirCompras</servlet-name>
        <url-pattern>/ExibirCompras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncrementarQuantidade</servlet-name>
        <url-pattern>/IncrementarQuantidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecrementarQuantidade</servlet-name>
        <url-pattern>/DecrementarQuantidade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprasUsuario</servlet-name>
        <url-pattern>/ComprasUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenciarProdutos</servlet-name>
        <url-pattern>/GerenciarProdutos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/erro404.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/erro404logado.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/adm/erro404logadoadm.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/erro404.jps</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/erro500.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/erro500logado.jsp</location>
    </error-page>    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/adm/erro500logadoadm.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/erro500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/erro500.jsp</location>
    </error-page>
</web-app>
