/*configurações do formulário*/
form{
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px){
    form{
       margin-left: 5%;
       margin-right: 5%; 
    }
}
@media screen and (max-width: 1000px) and (min-width: 601px){
    form{ 
       margin-left: 20%;
       margin-right: 20%; 
    }
}
/*configurações do formulário*/

/*Corpo da página*/
body{
background-color:#BCD2EE;
}
/*Corpo da página*/
