/*Configurações da página*/
.thumbnail img{
width:200px;
height:150px;
}
.vitrine {
  margin: 5%;
}
.btn{
    margin-bottom: 5px;
}
#categorias{
    width: 200px;
}
/*Configurações da página*/

.precoProduto {
    font-size: 30px;
    color: #f00;
}
