form{
    display: inline-block;
    float: right;
    width: 30%;
    height: auto;
}
#filtro{
    display: inline-block;
    float: left;
    width: 40%;
    height: auto;
}
.table{
    margin-top: 10px;
}
section{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}
td a{
    cursor: pointer;
}
@media screen and (max-width: 650px){
    form, #filtro{
        display: block;
        width: 100%;
    }
    section{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}


